In [1]:
import tushare as ts

pro = ts.pro_api()

df = pro.income(ts_code='000001.SZ', start_date='20180101', end_date='20191231', fields='ts_code,ann_date,f_ann_date,end_date,ebit,ebitda,net_after_nr_lp_correct')
df

Exception: 抱歉，您没有访问该接口的权限，权限的具体详情访问：https://tushare.pro/document/1?doc_id=108。

In [2]:
df = ts.pro_bar(ts_code='000001.SZ', adj='qfq', start_date='20210101', end_date='20211217',adjfactor='True')
df.head()

,ts_code,trade_date,open,high,low,close,pre_close,change,pct_chg,vol,amount,adj_factor
0,000001.SZ,20211217,17.70,17.75,17.57,17.57,17.72,-0.15,-0.8465,602369.67,1062875.482,111.921
1,000001.SZ,20211216,17.55,17.73,17.46,17.72,17.55,0.17,0.9687,819479.51,1445483.375,111.921
2,000001.SZ,20211215,17.51,17.66,17.40,17.55,17.58,-0.03,-0.1706,1294627.41,2269821.045,111.921
3,000001.SZ,20211214,18.16,18.17,17.52,17.58,18.27,-0.69,-3.7767,1937208.90,3434156.327,111.921
4,000001.SZ,20211213,18.47,18.88,18.18,18.27,18.38,-0.11,-0.5985,1314490.27,2427803.721,111.921

In [5]:
df = pro.cashflow(ts_code='000001.SZ', start_date='20210101', end_date='20211230')
df

,ts_code,ann_date,f_ann_date,end_date,comp_type,report_type,end_type,net_profit,finan_exp,c_fr_sale_sg,...,net_dism_capital_add,net_cash_rece_sec,credit_impa_loss,use_right_asset_dep,oth_loss_asset,end_bal_cash,beg_bal_cash,end_bal_cash_equ,beg_bal_cash_equ,update_flag
0,000001.SZ,20211021,20211021,20210930,2,1,3,NaN,None,None,...,1.580000e+08,None,None,None,None,NaN,NaN,NaN,NaN,0
1,000001.SZ,20210820,20210820,20210630,2,1,2,1.758300e+10,None,None,...,7.745000e+09,None,None,None,None,3.775000e+09,3.805000e+09,2.943420e+11,2.751450e+11,0
2,000001.SZ,20210421,20210421,20210331,2,1,1,NaN,None,None,...,1.677700e+10,None,None,None,None,NaN,NaN,NaN,NaN,0
3,000001.SZ,20210202,20210202,20201231,2,1,4,2.892800e+10,None,None,...,NaN,None,None,None,None,3.805000e+09,5.459000e+09,2.751450e+11,1.735990e+11,0

In [32]:
df = pro.income(ts_code='000001.SZ', start_date='19900101', end_date='20211230',fields='end_type,ebit,ebitda,minority_gain,n_income,n_income_attr_p,ts_code,ann_date,f_ann_date,end_date,report_type,comp_type,basic_eps,diluted_eps')
df
path = '/Users/hanjie/Documents/GitHub/investtrack/export/0000001.SZ.csv'
df.to_csv(path,sep=',',index=False,header=False)

In [15]:
df = pro.express(ts_code='000002.SZ', start_date='20200101', end_date='20201201', fields='ts_code,ann_date,end_date,revenue,operate_profit,total_profit,n_income,total_assets')
df #xx

Empty DataFrame
Columns: [ts_code, ann_date, end_date, revenue, operate_profit, total_profit, n_income, total_assets]
Index: []

In [22]:
df = pro.forecast(ts_code='000002.SZ', fields='ts_code,ann_date,end_date,type,p_change_min,p_change_max,net_profit_min')
df #xx

,ts_code,ann_date,end_date,type,p_change_min,p_change_max,net_profit_min
0,000002.SZ,20150403,20150331,预减,-61.0,-54.0,60000.0
1,000002.SZ,20081028,20081231,-,NaN,NaN,NaN
2,000002.SZ,20071030,20071231,预增,100.0,150.0,NaN
3,000002.SZ,20070404,20070331,预增,50.0,60.0,NaN
4,000002.SZ,20070112,20061231,预增,50.0,65.0,NaN
5,000002.SZ,20060928,20060930,预增,50.0,60.0,NaN
6,000002.SZ,20060623,20060630,预增,50.0,60.0,NaN
7,000002.SZ,20060321,20060331,预增,50.0,NaN,NaN
8,000002.SZ,20060106,20051231,预增,50.0,NaN,NaN
9,000002.SZ,20050801,20050930,预增,110.0,130.0,NaN
10,000002.SZ,20050425,20050630,预增,150.0,200.0,NaN
11,000002.SZ,20050406,20050331,预增,100.0,150.0,NaN
12,000002.SZ,20050112,20041231,预增,50.0,65.0,NaN
13,000002.SZ,20040705,20040630,预增,50.0,NaN,NaN
14,000002.SZ,20040402,20040331,预增,150.0,NaN,NaN
15,000002.SZ,20021028,20021231,预增,50.0,NaN,NaN

In [23]:
df = pro.dividend(ts_code='600848.SH', fields='ts_code,div_proc,stk_div,record_date,ex_date')
df

      ts_code div_proc  stk_div record_date   ex_date
0   600848.SH       预案     0.00        None      None
1   600848.SH       实施     0.20    20210621  20210622
2   600848.SH       实施     0.20    20210621  20210622
3   600848.SH   股东大会通过     0.20        None      None
4   600848.SH       预案     0.20        None      None
5   600848.SH       预案     0.00        None      None
6   600848.SH       预案     0.00        None      None
7   600848.SH       实施     0.00    20200612  20200615
8   600848.SH   股东大会通过     0.00        None      None
9   600848.SH       预案     0.00        None      None
10  600848.SH       实施     0.00    20190515  20190516
11  600848.SH   股东大会通过     0.00        None      None
12  600848.SH       预案     0.00        None      None
13  600848.SH       预案     0.00        None      None
14  600848.SH       实施     0.00    20180522  20180523
15  600848.SH       实施     0.10    19980706  19980707
16  600848.SH       实施     0.10    19970707  19970708
17  600848.SH       实施     0.15    19960701  19960702
18  600848.SH       实施     0.10    19950606  19950607

In [29]:
df = pro.fina_mainbz(ts_code='000063.SZ', type='P')
df

,ts_code,end_date,bz_item,bz_sales,bz_profit,bz_cost,curr_type
0,000063.SZ,20210630,消费者业务,1.235233e+10,2.572368e+09,9.779964e+09,CNY
1,000063.SZ,20210630,运营商网络,3.505170e+10,1.501354e+10,2.003816e+10,CNY
2,000063.SZ,20210630,政企业务,5.666935e+09,1.592282e+09,4.074653e+09,CNY
3,000063.SZ,20201231,其他业务,-3.000000e+04,-4.500000e+04,1.500000e+04,CNY
4,000063.SZ,20201231,运营商网络,7.401820e+10,2.501240e+10,4.900580e+10,CNY
...,...,...,...,...,...,...,...
95,000063.SZ,20081231,其他业务,2.700000e+04,-3.000000e+03,3.000000e+04,CNY
96,000063.SZ,20080630,光通信及数据通信,4.242792e+09,1.689143e+09,2.553649e+09,CNY
97,000063.SZ,20080630,有线交换及接入系统,1.115337e+09,3.652670e+08,7.500700e+08,CNY
98,000063.SZ,20080630,电信软件系统、服务及其他产品,2.581118e+09,7.993910e+08,1.781727e+09,CNY
99,000063.SZ,20080630,无线通信,7.495122e+09,2.640042e+09,4.855080e+09,CNY

In [74]:
df = pro.fina_indicator(ts_code='002456.SZ',start_date='19900101', end_date='20211231',fields='invturn_days')
for index, row in df.iterrows():
    print(row['invturn_days'])

80.7561
80.7561
79.6601
79.6601
65.7366
65.7366
51.0486
55.1347
62.174
77.2599
62.2902
71.4531
74.8846
82.3121
79.2672
96.6391
101.5744
112.1915
75.3012
72.023
70.2357
77.0878
59.3491
61.3832
68.6577
82.4704
69.4847
70.7733
68.739
76.3294
49.8449
53.2576
65.9679
71.2363
57.8285
59.5251
66.4869
66.726
58.1095
61.603
81.5217
136.7989
92.8242
124.694
105.3556
94.0242
85.1567
82.5108
79.3266
80.609
68.6054
67.6768
67.1679